body {
    display: flex;
    height: 125vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #2b5876, #4e4376);

}

.container {
    max-width: 450px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title span {
    color: darkblue;
}

.container form .user-details {
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

form .user-details .input-box {
    margin-bottom: 5px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}


.user-details .input-box input:focus, 
.user-details .input-box input:valid {
border-color: black;

}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;

}

form .gender-details .category {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.gender-details .category label {
    display: flex;
}

.gender-details .category .dot {
    height: 15px;
    width: 10px;
   
    border-radius: 40%;
    margin-right: 10px;
    border: 5px solid transparent;
 }


#dot-1:checked ~ .category .one {


}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #2b5876, #4e4376);
}

form .button input:hover {
    background: linear-gradient(-135deg, #2b5876, #4e4376);;

}




